/* General page spacing */
body {
  background-color: #f8f9fa;
}

/* Placeholder image borders */
.placeholder-img {
  border: 2px dashed #ccc;
  height: 250px;
  object-fit: cover;
}

/* Feature button boxes on home page */
.feature-box div {
  transition: transform 0.2s;
  background: white;
}
.feature-box div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Event cards */
.event-card img {
  height: 150px;
  object-fit: cover;
}

/* Menu box */
.menu-box {
  height: 200px;
}

/* Adjusting picture sizes*/
.campus-large-img {
    width: 70%;
    height: auto;
}

@media (min-width: 768px) {
    .campus-large-img {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .campus-large-img {
        max-width: 1000px;
    }
}
